<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test thread-count="5" name="get">
        <classes>
            <class name="Test_GET"/>
        </classes>
    </test>
    <test thread-count="1" name="post">
        <classes>
            <class name="Test_POST"/>
        </classes>
    </test>
</suite>
